body {
  font-family: 'Poppins', sans-serif;
  background-color: #EEF2FC;
}

body#index .navbar-sticky {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
  transition: all 0.5s;
}

body#index .nav-content-sticky {
  color: #1c1b1b;
  font-weight: 500;
}

body#index .nav-login-sticky {
  background-color: #317dc9;
  color: #FFF !important;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  padding: 10px 10px;
  font-weight: 600;
}

body#index header {
  padding: 0 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body#index header .navbar .nav-item {
  margin: 0 15px;
}

body#index header .navbar .nav-content {
  color: #EEF2FC !important;
  font-weight: 500;
}

body#index header .navbar .nav-login {
  background-color: #FAFCFE;
  color: #232529 !important;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  padding: 10px 10px;
  font-weight: 600;
}

body#index main section.hero .hero-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 130px 150px;
}

body#index main section.hero .hero-content .hero-title {
  font-size: 48px;
  font-weight: 800;
  max-width: 800px;
  color: #232529;
}

body#index main section.hero .hero-content .hero-title .custom-dot {
  color: blue !important;
}

body#index main section.hero .hero-content .hero-search-container {
  position: relative;
  z-index: 1;
}

body#index main section.hero .hero-content .hero-search-container .hero-search {
  position: absolute;
  z-index: 1;
  left: 0;
  top: -27px;
  right: -288px;
}

body#index main section.hero .hero-content .hero-search-container .hero-search .form-control {
  border: 0px;
  background: #FFFFFF;
  box-shadow: -50px 30px 50px rgba(159, 163, 173, 0.15);
  border-radius: 10px;
  font-family: "Font Awesome 5 Pro", Poppins, sans-serif;
}

body#index main section.hero .hero-content .hero-search-container .hero-search .btn {
  background-color: #4370CB;
  color: white;
  background: linear-gradient(180deg, #4370CB 0%, #5785E0 100%);
  box-shadow: 0px 4px 30px rgba(35, 37, 41, 0.05);
  padding: 15px 28px;
  border-radius: 0px 10px 10px 0px;
}

body#index main section.hero .hero-content .hero-description {
  display: flex;
  align-items: center;
  max-width: 500px;
}

body#index main section.hero .hero-content .hero-description .hero-caption {
  margin: 0 15px;
}

body#index main section.hero .hero-image-container {
  position: relative;
  top: -65px;
  max-height: 90vh;
}

body#index main section.hero .hero-image-container .hero-image {
  background-image: url("../img/hero-image.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body#index main section.preferred-property {
  margin-top: 82px;
  margin-bottom: 78px;
  padding: 0 150px;
}

body#index main section.preferred-property .preferred-property-container {
  max-height: 520px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 10px;
}

body#index main section.preferred-property .preferred-property-container .card {
  border-radius: 10px;
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0px 0px 30px rgba(174, 174, 174, 0.05);
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container {
  display: flex;
  padding: 10px;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container img {
  border-radius: 10px;
  max-width: 180px;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description {
  padding: 30px 15px 0 15px;
  width: 100%;
  position: relative;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-category {
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 11px;
  background: #B4CDFD;
  border-radius: 10px;
  padding: 3px 10px;
  color: #FFFFFF;
  font-weight: 400;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-price {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-weight: bold;
  color: #6A707C;
  font-size: 24px;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-name {
  margin-bottom: 5px;
  color: #6A707C;
  font-size: 20px;
  font-weight: 600;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-owner {
  margin-bottom: 0;
  color: #9FA3AD;
  font-size: 14px;
  font-weight: 400;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-spec {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-spec .spec {
  display: flex;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-spec .spec .fas,
body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-spec .spec .spec-value {
  color: #AEAEAE;
  font-size: 11px;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-spec .spec .fas {
  font-size: 14px;
}

body#index main section.preferred-property .preferred-property-container .card .preferred-property-card-container .description .property-spec .spec .spec-value {
  margin-left: 10px;
  margin-bottom: 0;
}

body#index main section.preferred-property .preferred-property-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 78px;
}

body#index main section.preferred-property .preferred-property-caption .title {
  max-width: 390px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

body#index main section.preferred-property .preferred-property-caption .description {
  max-width: 460px;
  font-weight: 400;
  font-size: 20px;
  color: #9FA3AD;
}

body#index main section.preferred-property .preferred-property-caption .button {
  height: 54px;
  padding: 0;
  line-height: 50px;
  width: 25%;
  text-decoration: none;
  background-color: #4370CB !important;
  color: #FFF;
  border-radius: 10px;
  font-weight: 600;
}

body#index main section.popular-property,
body#index main section.all-property {
  margin-top: 78px;
  padding: 78px 150px 0;
}

body#index main section.popular-property .caption .title,
body#index main section.all-property .caption .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 30px;
}

body#index main section.popular-property .caption .description,
body#index main section.all-property .caption .description {
  font-weight: 400;
  font-size: 20px;
  color: #9FA3AD;
  margin-bottom: 68px;
}

body#index main section.popular-property .link,
body#index main section.all-property .link {
  display: block;
  text-align: right;
  color: #4370CB;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

body#index main section.popular-property .content-container .card,
body#index main section.all-property .content-container .card {
  border-radius: 10px;
  margin-bottom: 20px;
}

body#index main section.popular-property .content-container .card .card-body img,
body#index main section.all-property .content-container .card .card-body img {
  border-radius: 10px;
  width: 100%;
}

body#index main section.popular-property .content-container .card .card-body .content-title,
body#index main section.all-property .content-container .card .card-body .content-title {
  margin-top: 13px;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-name,
body#index main section.all-property .content-container .card .card-body .content-title .property-name {
  margin-bottom: 5px;
  color: #6A707C;
  font-size: 20px;
  font-weight: 600;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-owner,
body#index main section.all-property .content-container .card .card-body .content-title .property-owner {
  margin-bottom: 0;
  color: #9FA3AD;
  font-size: 14px;
  font-weight: 400;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-price,
body#index main section.all-property .content-container .card .card-body .content-title .property-price {
  font-weight: bold;
  color: #6A707C;
  font-size: 24px;
}

body#index main section.popular-property .content-container .card .card-body .content-title .divider,
body#index main section.all-property .content-container .card .card-body .content-title .divider {
  margin: 20px 0px 25px;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-spec,
body#index main section.all-property .content-container .card .card-body .content-title .property-spec {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-spec .spec,
body#index main section.all-property .content-container .card .card-body .content-title .property-spec .spec {
  display: flex;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .fas,
body#index main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .spec-value,
body#index main section.all-property .content-container .card .card-body .content-title .property-spec .spec .fas,
body#index main section.all-property .content-container .card .card-body .content-title .property-spec .spec .spec-value {
  color: #AEAEAE;
  font-size: 11px;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .fas,
body#index main section.all-property .content-container .card .card-body .content-title .property-spec .spec .fas {
  font-size: 14px;
}

body#index main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .spec-value,
body#index main section.all-property .content-container .card .card-body .content-title .property-spec .spec .spec-value {
  margin-left: 10px;
  margin-bottom: 0;
}

body#detail header {
  padding: 0 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body#detail header .navbar .nav-item {
  margin: 0 15px;
}

body#detail header .navbar .nav-content {
  color: #000 !important;
  font-weight: 500;
}

body#detail header .navbar .nav-login {
  background-color: #FAFCFE;
  color: #232529 !important;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  padding: 10px 10px;
  font-weight: 600;
}

body#detail main {
  margin: 63px 150px 0;
}

body#detail main section.gallery {
  margin-bottom: 70px;
}

body#detail main section.gallery .image-thumb-container {
  max-height: 700px;
  overflow: scroll;
  overflow-x: hidden;
  padding: 10px 10px;
}

body#detail main section.gallery .image-thumb-container .image-thumb-filter {
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px;
  width: 210px;
  box-sizing: border-box;
}

body#detail main section.gallery .image-thumb-container .image-thumb-filter .image-thumb {
  border-radius: 10px;
  width: 100%;
  min-height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

body#detail main section.gallery .main-image-container {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px;
}

body#detail main section.gallery .main-image-container .main-image {
  width: 100%;
  height: 700px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

body#detail main section.content .price-container .property-name {
  font-style: 20px;
  font-weight: 500;
}

body#detail main section.content .price-container .price {
  font-weight: 800;
  font-size: 48px;
}

body#detail main section.content .btn-ask {
  padding: 14px 43px;
  background-color: #4370cb;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  border-radius: 10px;
}

body#detail main section.content .love {
  background-color: #fff;
  font-size: 36px;
  padding: 0 10px;
  border-radius: 100%;
}

body#detail main section.content .divider {
  margin: 64px 0px;
}

body#detail main section.content .description-container .description {
  font-size: 20px;
  font-weight: 400;
  color: #9FA3AD;
  margin-bottom: 20px;
}

body#detail main section.content .description-container .read-less,
body#detail main section.content .description-container .read-more {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-decoration: none;
  color: #4370CB;
  margin-top: 48px !important;
}

body#detail main section.spesification .spesification-name {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #232529;
  margin-bottom: 48px;
}

body#detail main section.spesification .property-spec {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

body#detail main section.spesification .property-spec .spec {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

body#detail main section.spesification .property-spec .spec .fas,
body#detail main section.spesification .property-spec .spec .spec-value {
  color: #AEAEAE;
  font-size: 20px;
}

body#detail main section.spesification .property-spec .spec .fas {
  font-size: 20px;
}

body#detail main section.spesification .property-spec .spec .spec-value {
  margin-left: 10px;
  margin-bottom: 0px;
}

body#detail main section.popular-property {
  padding: 78px 0px 0;
}

body#detail main section.popular-property .caption .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 30px;
}

body#detail main section.popular-property .caption .description {
  font-weight: 400;
  font-size: 20px;
  color: #9FA3AD;
  margin-bottom: 68px;
}

body#detail main section.popular-property .link {
  display: block;
  text-align: right;
  color: #4370CB;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

body#detail main section.popular-property .content-container .card {
  border-radius: 10px;
  margin-bottom: 20px;
}

body#detail main section.popular-property .content-container .card .card-body img {
  border-radius: 10px;
  width: 100%;
}

body#detail main section.popular-property .content-container .card .card-body .content-title {
  margin-top: 13px;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-name {
  margin-bottom: 5px;
  color: #6A707C;
  font-size: 20px;
  font-weight: 600;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-owner {
  margin-bottom: 0;
  color: #9FA3AD;
  font-size: 14px;
  font-weight: 400;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-price {
  font-weight: bold;
  color: #6A707C;
  font-size: 24px;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .divider {
  margin: 20px 0px 25px;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-spec {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-spec .spec {
  display: flex;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .fas,
body#detail main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .spec-value {
  color: #AEAEAE;
  font-size: 11px;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .fas {
  font-size: 14px;
}

body#detail main section.popular-property .content-container .card .card-body .content-title .property-spec .spec .spec-value {
  margin-left: 10px;
  margin-bottom: 0;
}

body#login body,
body#register body {
  background-color: #fafcfe;
  font-family: 'Poppins', sans-serif;
}

body#login .card,
body#register .card {
  background-color: white;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  box-shadow: -20px 30px 30px rgba(174, 174, 174, 0.15);
}

body#login .card .card-items,
body#register .card .card-items {
  height: auto;
}

body#login .card .card-items.item-image,
body#register .card .card-items.item-image {
  background: url("../img/side-auth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0px 0px 10px;
}

body#login .card .card-items.item-form,
body#register .card .card-items.item-form {
  padding: 64px 32px;
}

body#login .card .card-items.item-form h3,
body#register .card .card-items.item-form h3 {
  font-size: 48px;
  font-weight: 800;
  font-size: 48px;
  color: #232529;
}

body#login .card .card-items.item-form form,
body#register .card .card-items.item-form form {
  margin-top: 32px;
}

body#login .card .card-items.item-form form input,
body#register .card .card-items.item-form form input {
  height: 60px;
  padding: 16px;
  border-radius: 10px;
}

body#login .card .card-items.item-form form input:focus,
body#register .card .card-items.item-form form input:focus {
  outline: none !important;
  border-color: #4370CB;
  box-shadow: 0 0 0 #4370CB;
}

body#login .card .card-items.item-form form button,
body#register .card .card-items.item-form form button {
  height: 60px;
  padding: 16px;
  background-color: #4370CB;
  border-radius: 10px;
  width: 100%;
  margin-top: 48px;
}

body#login .card .card-items.item-form form button:hover,
body#register .card .card-items.item-form form button:hover {
  height: 60px;
  padding: 16px;
  background-color: #113d94;
  border-radius: 10px;
  width: 100%;
  margin-top: 48px;
}

body#login .card .card-items.item-form .sign-up,
body#register .card .card-items.item-form .sign-up {
  text-align: center;
  margin-top: 32px;
  font-weight: 300;
}

body#login .card .card-items.item-form .sign-up p,
body#register .card .card-items.item-form .sign-up p {
  display: inline-block;
}

body#login .card .card-items.item-form .sign-up a,
body#register .card .card-items.item-form .sign-up a {
  text-decoration: none;
  font-weight: 500;
  margin-left: 8px;
  color: #4370CB;
}

body#login .card .card-items.item-form .sign-up a:hover,
body#register .card .card-items.item-form .sign-up a:hover {
  text-decoration: none;
  font-weight: 500;
  margin-left: 8px;
  color: #123c91;
}

@media screen and (max-width: 769px) {
  body#login .card .card-items.item-image,
  body#register .card .card-items.item-image {
    border-radius: 10px 10px 0px 0px;
  }
}

footer {
  margin-top: 195px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background: #6A707C;
  color: white;
}
/*# sourceMappingURL=app.css.map */