body {
    font-family: 'Poppins', sans-serif;
    background-color: #EEF2FC;
}

header {
    padding: 0 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        color: #EEF2FC !important;
        font-weight: 500;
    }

    .btn-login {
        background-color: #FAFCFE;
        color: #232529 !important;
        border-radius: 10px;
        width: 100px;
        text-align: center;
        padding: 10px 10px;
        font-weight: 600;
    }
}

main {
    margin-bottom: 200px;

    section.hero {
        .hero-content {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90vh;
            padding: 100px 150px;

            .hero-title {
                font-size: 48px;
                font-weight: 800;
                color: #232529;

                .custom-dot {
                    color: blue !important;
                }
            }

            .hero-search-container {
                position: relative;
                z-index: 1;

                .hero-search {
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    top: -27px;
                    right: -288px;

                    .form-control {
                        border: 0px;
                        background: #FFFFFF;
                        box-shadow: -50px 30px 50px rgba(159, 163, 173, 0.15);
                        border-radius: 10px;
                        font-family: "Font Awesome 5 Pro", Poppins, sans-serif;
                    }

                    .btn {
                        background-color: #4370CB;
                        color: white;
                        background: linear-gradient(180deg, #4370CB 0%, #5785E0 100%);
                        box-shadow: 0px 4px 30px rgba(35, 37, 41, 0.05);
                        padding: 15px 28px;
                        border-radius: 0px 10px 10px 0px;
                    }
                }
            }

            .hero-description {
                display: flex;
                align-items: center;

                .hero-caption {
                    margin: 0 15px;
                }
            }
        }

        .hero-image-container {
            position: relative;
            top: -65px;
            max-height: 90vh;

            .hero-image {
                background-image: url('/assets/img/hero-image.jpg');
                background-size: cover;
                background-position: center;
                height: 100vh;
            }
        }
    }

    section.preferred-property {
        margin-top: 150px;
        padding: 0 150px;

        .preferred-property-container {
            display: flex;
            padding: 10px;

            img {
                max-width: 180px;
            }

            .description {
                padding: 30px 15px 0 15px;
                width: 100%;

                .property-name,
                .property-owner {
                    margin-bottom: 0;
                }

                .property-spec {
                    padding: 0 15px;
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .spec {
                        display: flex;

                        // space between
                        .spec-value {
                            margin-left: 10px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}